/*--polished-pine: #539d8b;
--green-sheen: #7ca798;
--ash-gray: #a4b1a5;
--pale-silver: #cdbbb2;
--languid-lavender: #d3c4d1;
font-family: 'Voltaire', sans-serif;
*/
.home-route
{
    background-color: #7ca798;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: auto;
    


}
.btn {
    color: blue;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 200px;
    border-radius: 20%;

}