/*--polished-pine: #539d8b;
--green-sheen: #7ca798;
--ash-gray: #a4b1a5;
--pale-silver: #cdbbb2;
--languid-lavender: #d3c4d1;
font-family: 'Voltaire', sans-serif;
*/
.home-route
{
    margin: 1rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
