.image-post
{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1%;
    margin: .5em;
    padding: .5rem;
}

.image-post .image
{
    min-width: 20rem;
    min-height: 20rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
